<div class="container-fluid" ng-controller="adminctrl" style="background-color:#ffff99;height:100%;width:100%;margin:-20px 0px -20px 0px">
    <h1 class="text-center" style="color:#b35900;text-shadow:2px 2px 5px #000000">CCF ADMIN</h1>
    <table  class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>SEM</th>
                <th>Branch</th>
                <th>Date</th>
                <th>Organization</th>
                <th>Description</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input class="form-control" ng-model="entry.name">
                </td>
                <td>
                    <input class="form-control" ng-model="entry.semester">
                </td>
                <td>
                    <input class="form-control" ng-model="entry.branch">
                </td>
                <td>
                    <input class="form-control" ng-model="entry.date">
                </td>
                <td>
                    <input class="form-control" ng-model="entry.org">
                </td>
                <td>
                    <input class="form-control" ng-model="entry.desc">
                </td>
                <td>
                    <input class="form-control" ng-model="entry.phone">
                </td>
                <td>
                    <input class="form-control" ng-model="entry.email">
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="add()">+</button>
                </td>
                <td>
                    <button class="btn btn-info" ng-click="update()">*</button>
                </td>
                <td>
                    <button class="btn btn-info" ng-click="deselect()">-</button>
                </td>
            </tr>
            <tr ng-repeat="datas in data">
                <td><b>{{datas.name}}</b></td>
                <td>{{datas.semester}}</td>
                <td>{{datas.branch}}</td>
                <td>{{datas.date}}</td>
                <td>{{datas.org}}</td>
                <td>{{datas.desc}}</td>
                <td>{{datas.phone}}</td>
                <td>{{datas.email.substring(1)}}</td>   <!-- NOTE:First character of mail is *-->
                <td>
                    <button class="btn btn-danger" ng-click="remove(datas._id)">Remove</button>
                </td>
                <td>
                    <button class="btn btn-warning" ng-click="edit(datas._id)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
     <h1 class="text-center" style="color:#b35900;text-shadow:2px 2px 5px #000000"><a href=#/pending>PENDING</a></h>
</div>
<!-- <input ng-model="test"><p>{{test}}</p> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="/controllers/controller.js"></script>
