<style type="text/css">
body {
    height: 200%;
    background-color: #263238;
    width: 100%;
}

.text-center {
    text-align: center;
}

.space-bot {
    margin-bottom: 35px;
}

.space-top {
    margin-top: 35px;
}

.md-datepicker-input {
    width: 200px !important;
    background-color: #2c3940 !important;
    color: white !important;
}


/* Title */

h1 {
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}


/* Sign Up */

.container {
    max-width: 400px;
    max-height: 100px;
    margin-top: 10px;
}

.alert-danger {
    text-align: center;
}

.signup-screen {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #2c3940;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    color: white;
}

.btn {
    border-radius: 2px;
}

.cancel {
    background-color: #df405a;
}

.done {
    background-color: #5CAB7D;
}

.done:hover {
    background-color: #6dc793;
}

.done:focus {
    background-color: #6dc793;
}

.cancel:hover {
    background-color: #f0435f;
}

.cancel:focus {
    background-color: #f0435f;
}

.input-group {
    width: 100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}


/* Error Box */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    border-color: #e85a71;
    background-color: #e85a71;
    color: white;
}

.help-block {
    font-size: 12px;
    color: white
}

.md-block {
    font-size: 15px;
    color: white !important;
}

.input {
    color: white !important;
}

.md-content {
    background-color: #2c3940 ! important;
}

.md-input-container {
    background-color: #2c3940 ! important;
    color: white !important;
}
</style>
<div class="container">
    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <h1>Book An Event!</h1>
                <div class="divider"></div>
            </div>
            <form class="projectForm" method="post" name="register" novalidate>
                <div md-theme="altTheme" ng-style="color" :blue>
                    <md-input-container class="md-block md-no-float" flex-gt-sm>
                        <label style="color:white">Name</label>
                        <md-icon ng-md-icon icon="perm_identity" style="fill:lightgreen" class="name"></md-icon>
                        <input ng-model="name" style="color:white">
                    </md-input-container>
                    <md-input-container class="md-block md-icon-float" flex-gt-sm>
                        <label style="color:white">Semester</label>
                        <md-icon ng-md-icon icon="class" style="fill:lightgreen" class="name"></md-icon>
                        <md-select ng-model="semester">
                            <md-option ng-repeat="s in sem" value="{{s.abbrev}}">
                                {{s.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <br>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label style="color:white">Branch</label>
                        <md-icon ng-md-icon icon="computer" style="fill:lightgreen" class="name"></md-icon>
                        <md-select ng-model="branch">
                            <md-option ng-repeat="b in br" value="{{b.abbrev}}">
                                {{b.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <br>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label style="color:white">Organisation</label>
                        <md-icon ng-md-icon icon="group" style="fill:lightgreen" class="name"></md-icon>
                        <md-select ng-model="org">
                            <md-option ng-repeat="org in orgs" value="{{org.abbrev}}">
                                {{org.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <br>
                    <div flex-gt-xs>
                    <label style="color:white">Choose Event Date</label>
                    <md-icon ng-md-icon icon="date_range" style="fill:lightgreen" class="name"></md-icon>
                    <md-datepicker name="dp" md-min-date="minDate" ng-model="date" md-placeholder="Enter date" style="display:block; width: 100%;background-color:#2c3940;color:white"></md-datepicker>
                    <div ng-messages="projectForm.dp.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">Input a Date to Register for an Event.</div>
                    </div>
                </div>
                        <br>
                        <md-input-container class="md-block">
                            <label style="color:white">Email</label>
                            <md-icon ng-md-icon icon="email" style="fill:lightgreen" class="name"></md-icon>
                            <input style="color:white" required type="email" name="mail" ng-model="emailid" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                            <div ng-messages="projectForm.mail.$error" role="alert">
                            </div>
                        </md-input-container>
                        <br>
                        <md-input-container class="md-block" flex-gt-sm>
                            <md-icon ng-md-icon icon="phone" style="fill:lightgreen" class="name"></md-icon>
                            <label style="color:white">Mobile Number</label>
                            <input style="color:white" type="number" ng-model="phone">
                        </md-input-container>
                        <br>
                        <md-input-container class="md-block">
                            <label style="color:white">Event Description</label>
                            <md-icon ng-md-icon icon="description" style="fill:lightgreen" class="name"></md-icon>
                            <input style="color:white" md-maxlength="500" required md-no-asterisk name="description" ng-model="describe" md-placeholder="Enter The Description of Your Event">
                            <div ng-messages="projectForm.description.$error">
                                <div ng-message="$scope.isDisabled = true;">This is required.</div>
                                <div ng-message="md-maxlength">The description must be less than 500 characters long.</div>
                            </div>
                        </md-input-container>
                        <br>
                        <md-button class="md-raised md-accent" ng-click="sub()" ng-disabled="projectForm.$invalid">Submit</md-button>
                        <md-button class="md-raised md-default" ng-click="clear()">Clear</md-button>
                    </div>
                </div>
                <!--Theme Div -->
            </form>
        </div>
    </div>
</div>
</body>
