<style>
.md-datepicker-input {
    width: 400px !important;
}
</style>
<div class="container-fluid" style="box-shadow: 10px;margin:-20px 0px -20px 0px;border-top: thick double #cce6ff">
    <div class="row fun-cube">
        <div class="col-md-3" style="background-color:#bbdefb;height:100%;border-right:thick double #cce6ff">
            <div class="row">
                <div class="col-md-12" style="width:100%; background-color:#2196f3; font-weight: bold;box-shadow: 20px;text-shadow:2px 2px 5px #000000;color: #e3f2fd   ">
                    <h2>Current Bookings</h2></div>
            </div>
            <br>
            <tr>
                <span ng-repeat="new in data" style="font-size:14px;">Date:{{new.date}} &nbsp;&nbsp;&nbsp; Org:{{new.org}}<br><br></span></tr>
        </div>
        <div class="col-md-6" style="background-color:#90caf9;height:100%;border-right:thick double #cce6ff"">
            <div class="row">
                <div class="col-md-12" style="width:100%; background-color:#2196f3; font-weight: bold;box-shadow: 20px;text-shadow:2px 2px 5px #000000;color: #e3f2fd ">
                    <h2>Book An Event!</h2></div>
            </div>
            <form name="projectForm">
                <md-input-container class="md-block md-icon-float" flex-gt-sm >
                    <label style="color:black">Name</label>
                    <input ng-model="name">
                </md-input-container>
                <md-input-container class="md-block md-icon-float" flex-gt-sm>
                    <label style="color:black">Semester</label>
                    <md-select ng-model="semester">
                        <md-option ng-repeat="s in sem" value="{{s.abbrev}}">
                            {{s.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label style="color:black">Branch</label>
                    <md-select ng-model="branch">
                        <md-option ng-repeat="b in br" value="{{b.abbrev}}">
                            {{b.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label style="color:black">Organisation</label>
                    <md-select ng-model="org">
                        <md-option ng-repeat="org in orgs" value="{{org.abbrev}}">
                            {{org.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div flex-gt-xs>
                    <h4 style="color:black">Choose Event Date</h4>
                    <md-datepicker name="dp" md-min-date="minDate" ng-model="date" md-placeholder="Enter date" style="display:block; width: 100%;background-color: #90caf9"></md-datepicker>
                    <div ng-messages="projectForm.dp.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">Input a Date to Register for an Event.</div>
                    </div>
                </div>
                <md-input-container class="md-block">
                    <label style="color:black">Email</label>
                    <input required type="email" name="mail" ng-model="emailid" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="projectForm.mail.$error" role="alert">
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label style="color:black">Mobile Number</label>
                    <input type="number" ng-model="phone">
                </md-input-container>
                <md-input-container class="md-block">
                    <label style="color:black">Event Description</label>
                    <input md-maxlength="500" required md-no-asterisk name="description" ng-model="describe" md-placeholder="Enter The Description of Your Event">
                    <div ng-messages="projectForm.description.$error">
                        <div ng-message="$scope.isDisabled = true;">This is required.</div>
                        <div ng-message="md-maxlength">The description must be less than 500 characters long.</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="sub()" ng-disabled="projectForm.$invalid">Submit</md-button>
                <md-button class="md-raised md-default" ng-click="clear()">Clear</md-button>
            </form>
        </div>
        <div class="col-md-3" style="background-color:#bbdefb;height:100%;">
            <div class="row">
                <div class="col-md-12" style="width:100%; background-color:#2196f3; font-weight: bold;text-shadow:2px 2px 5px #000000;color: #e3f2fd ">
                    <h2>Contact Admin</h2></div>
            </div>
            <ul>
                <li>
                    <h3>Vipin Vasu</h3></li>
                <h4>9446445689</h4>
            </ul>
        </div>
    </div>
