<div class="container-fluid" ng-controller="adminctrl" style="background-color:#ffff99;height:100%;width:100%;margin:-20px 0px -20px 0px">
    <h1 class="text-center" style="color:#b35900;text-shadow:2px 2px 5px #000000">PENDING REQUESTS</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>SEM</th>
                <th>Branch</th>
                <th>Date</th>
                <th>Organization</th>
                <th>Description</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Confirm</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datas in pending">
                <td><b>{{datas.name}}</b></td>
                <td>{{datas.semester}}</td>
                <td>{{datas.branch}}</td>
                <td>{{datas.date}}</td>
                <td>{{datas.org}}</td>
                <td>{{datas.desc}}</td>
                <td>{{datas.phone}}</td>
                <td>{{datas.email}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="cancel_pending(datas._id)">Remove</button>
                </td>
                <td>
                    <a ng-href='http://104.245.33.9:2605/verify/{{datas.GENERATED_VERIFYING_URL}}'>Confirm</a></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="/controllers/controller.js"></script>
